<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- <div class="container" style="max-width: fit-content; margin-inline: auto"> -->

    
<div class="card shadow-lg" style="width:70%; margin-inline:auto; padding:20px;margin-top:50px">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="{{updateUserInfo.name}}" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{updateUserInfo.address}}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{updateUserInfo.email}}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Phone No</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{updateUserInfo.phoneNo}}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Username</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{updateUserInfo.username}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<!-- </div> -->